{% extends 'base.html' %}
{% load widget_tweaks %}
  {% block content %}
<div class="container-fluid">
    <br>
  <h1>Vehicle Management System</h1>
  <p>Our System deals about maintaining the vehicle database .</p> <a class="btn-item place" href="{% url 'vms:vihicle'%}">Add Vehicle</a> &nbsp;&nabla;<a class="btn-item place" href="{% url 'accounts:logout'%}">Log Out</a> <br> <br>    <br>    <br>
  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-5" >
        <div class="main-block" >
            <div class="left-part">
              <i class="fas fa-graduation-cap"></i>
              <img src="/static/images/user.jpg" height="500px" width="300px">
              <div class="btn-group">
              </div>
            </div>
            <form method="post">
                {% csrf_token %}
              <div class="title">
                <i class="fas fa-pencil-alt"></i> 
                <h2>Add User Data</h2>
              </div>
              <div class="info">
                {% render_field form.email id="email" type="email" class="form-control"  placeholder="username" %}
                {{ form.email.errors }}   <br>
                {% render_field form.username id="username"  class="form-control"  placeholder="username" %}
                {{ form.username.errors }}   <br>
                {% render_field form.first_name id="first_name"  class="form-control"  placeholder="first_name" %}
                {{ form.first_name.errors }} <br>
                {% render_field form.last_name id="last_name"  class="form-control"  placeholder="last_name" %}
                {{ form.last_name.errors }}  <br>
                {% render_field form.groups id="groups"  class="form-control"  placeholder="Role" %}
                {{ form.group.groups }}   <br>
                {% render_field form.password id="password"  class="form-control"  placeholder="password" %}
                {{ form.password.errors }}   <br>
                {% render_field form.conformpassword id="conformpassword"  class="form-control"  placeholder="conformpassword" %}
                {{ form.conformpassword.errors }} <br>
              </div>
              <button type="submit" href="/">Add User</button>
            </form>
          </div>
      </div>
      <div class="col-sm-7" >
          <table class="table table-striped">
              <tr>
                  <th>SL No</th>
                  <th>Username</th>
                  <th>Role</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
              {% for data in user_list%}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{data.username}}</td>
                  <td>{{data.groups}}</td>
                  <td>{{data.first_name}}</td>
                  <td>{{data.last_name}}</td>
                  <td><input type="button" name="edit" id="" value="Edit/Update"></td>
                  <td><input type="button" name="edit" id="" value="Delete"></td>
              </tr>
              {%endfor%}
          </table>

      </div>
    </div>
    <br>
    
  </div>
</div>

{% if messages %}
{% block scripts_page_specific %}
 {% for message in messages %}
<div class="modal fade" id="CreateAccountModalCenter" tabindex="-1" role="dialog" aria-labelledby="CreateAccountModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <h4>
                   Account has been created/added <br/>successfully
            </h4>
      </div>
      <div class="modal-footer">
        <a href="{% url 'accounts:users_list' %}" class="btn btn-primary">OK</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#CreateAccountModalCenter").modal('show');
    });
</script>
 {% endfor %}
{% endblock %}
{% endif %}

{% endblock %}
