
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="/static/css/style.css">
<style>
  
</style>
</head>
<body>
<div id="bg"></div>

<form class="login-form" name="login-form" id="login_form" action="{% url 'accounts:login' %}"
method="post" autocomplete="off">
{% csrf_token %}
  <div class="form-field" >
    {% render_field form.username type="username" id="email" placeholder="Username"%}
    {{ form.username.errors }}

  </div>
  
  <div class="form-field">
    {% render_field form.password id="login-password" placeholder="Password" %}
    {{ form.password.errors }}                        
  </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
</form>
  
</body>
</html>
