{% extends 'base.html' %}
{% load widget_tweaks %}
  {% block content %}
<div class="container-fluid">
    <br>
  <h1>Vehicle Management System</h1> 

  <p>Our System deals about maintaining the vehicle database .</p>      <a class="btn-item place" href="{% url 'accounts:user_data'%}">Add Users</a>  &nbsp;&nbsp; <a class="btn-item place" href="{% url 'accounts:logout'%}">Log Out</a><br> <br>    <br>    <br>

  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-5" >
        <div class="main-block" >
            <div class="left-part">
              <i class="fas fa-graduation-cap"></i>
              <img src="/static/images/logo.png" height="500px" width="300px">
              <div class="btn-group">
              </div>
            </div>
            <form method="post">
                {% csrf_token %}
              <div class="title">
                <i class="fas fa-pencil-alt"></i> 
                <h2>Add Vehicle Data</h2>
              </div>
              <div class="info">
                {% render_field form.vehicle_number id="vehicle_number" placeholder="vehicle_number" %}
                {{ form.vehicle_number.errors }}   <br>
                {% render_field form.vehicle_type id="vehicle_type" placeholder="vehicle_type" %}
                {{ form.vehicle_type.errors }}  <br>
                {% render_field form.vehicle_model id="vehicle_model" placeholder="vehicle_model" %}
                {{ form.vehicle_model.errors }}   <br>
                {% render_field form.vehicle_description id="vehicle_description" placeholder="vehicle_description" %}
                {{ form.vehicle_description.errors }}    <br>
              </div>
              <button type="submit" href="/">Add Vehicle</button>
            </form>
          </div>
      </div>
      <div class="col-sm-7" >
          <table class="table table-striped">
              <tr>
                  <th>SL No</th>
                  <th>Vehicle Number</th>
                  <th>Vehicle Type</th>
                  <th>Vehicle Model</th>
                  <th>Vehicle Description</th>
                  <th>Edit</th>
                  <th>Delete</th>


              </tr>
              {% for data in vehicle_list%}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{data.vehicle_number}}</td>
                  <td>{{data.vehicle_type}}</td>
                  <td>{{data.vehicle_model}}</td>
                  <td>{{data.vehicle_description}}</td>
                  {% if request.user.groups == "Super Admin" or request.user.groups == "Super Admin" %}
                  <td><a href="{% url 'vms:vehicle_update' user.id %}">Edit/Update</a></td>
                  {% elif request.user.groups == "Super Admin" %}
                  <td><a href="{% url 'vms:delete' user.id %}">Delete</a></td>
                  {%else%}
                  <td>
                    No permission
                  </td>
                  <td>
                    No permission
                  </td>
                  {%endif%}
              </tr>
              {%endfor%}
          </table>

      </div>
    </div>
    <br>
    
  </div>
</div>

{% if messages %}
{% block scripts_page_specific %}
 {% for message in messages %}
<div class="modal fade" id="CreateAccountModalCenter" tabindex="-1" role="dialog" aria-labelledby="CreateAccountModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <h4>
                   Account has been created/added <br/>successfully
            </h4>
      </div>
      <div class="modal-footer">
        <a href="{% url 'accounts:users_list' %}" class="btn btn-primary">OK</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#CreateAccountModalCenter").modal('show');
    });
</script>
 {% endfor %}
{% endblock %}
{% endif %}

{% endblock %}